 body{background:url(https://farm4.staticflickr.com/3839/14961915928_c0fca5cc12_b.jpg); -webkit-background-size:cover; -moz-background-size:cover; -o-background-size:cover; background-size:cover; direction:rti;  margin:0 auto}
.co{ max-width:320px;  padding:15px 15px;  background:#000;  margin:0 auto;  padding:19px;  background-color:rgba(20,20,20,0.5);  border-radius:2px;  font-family:Georgia,"Times New Roman",Times,serif}
.co{ font-size:1.4em;  margin-bottom:10px}
.co{ display:block;  margin-bottom:8px}
.co{border-color:#f48aa0;   color:#000;   background-color:rgba(22,22,22,0.5);  color:#000;  border:none}
